<div class="container">

  <section class="mt-5 card card-body">
    <h2 class="my-5">Lista de rovers</h2>
    
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Data de envio</th>
          <th scope="col">Cordenada atual</th>
          <th scope="col">Posição</th>
          <th scope="col">Resultado</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>25 de outubro, 2022</td>
          <td>1 2 N</td>
          <td>LMLMLMLMM</td>
          <td>1 3 N</td>
        </tr>
        <tr>
          <td>26 de outubro, 2022</td>
          <td>3 3 E</td>
          <td>MMRMMRMRRM</td>
          <td>5 1 E</td>
        </tr>
      </tbody>
    </table>
  </section>
</div>